:root {
    --width: 70%;
}

body {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;

}

.page {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.section1 {
    flex: 1;
    background: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 20px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px;
}

.darkcontent {
    width: var(--width);
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
    gap: 10%;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.awesome {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
}

.context {
    color: #E5E7EB;
    font-size: 16px;
}

.signup {
    align-self: flex-start;
    background: #3882f6;
    color: white;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 10px;
}

.right {
    background: #40444b;
    flex: 1;
}

.section2 {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.section2_title {
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
}

.card_container {
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* margin: 5% 22%; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}

.square {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border: 3px solid  #3882f6;
    border-radius: 15px;
}

.square_text {
    text-align: center;
}

.section3 {
    flex: 1;
    background-color: #E5E7EB;
}

.textbox {
    padding: 10% 22%;
}

.quote {
    font-style: italic;
    font-size: 32px;
}

.thor {
    font-weight: 700;
    text-align: right;
    font-size: 20px;
}

.section4 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.text4 {
    width: var(--width);
    background-color: #3882f6;
    border-radius: 15px;
    margin: 10% 18%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.acty {
    font-weight: 700;
    font-size: 20px;
}

.expl {
    color: #E5E7EB;
}

.section4 .signup {
    border: 2px solid #f9faf8;
}

.footer {
    background: #1F2937;
    color: white;
    text-align: center;
    padding: 30px 0;

}